* {
  margin: 0;
}
.container {
  border: 1px solid rgb(89, 89, 139);
  height: 100vh;
  display: grid;
  place-items: center;
}
.barChart {
  display: grid;
  grid-auto-flow: column;
  width: 500px;
  height: 500px;
  border: 1px solid red;
}
